body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-img {
    background: url("Untitled.png") no-repeat center center/cover;
    filter: blur(50px);
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img {
    display: block;
    margin: 38px auto 20px auto;
    max-width: 120px;
    height: auto;
    transform: translateY(38px);
}

.signup img {
    display: block;
    margin: 15px auto 20px auto;
    max-width: 120px;
    height: auto;
    transform: translateY(38px);
}

.login, .signup {
    width: 448px;
    min-height: 618px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.263);
}

.signup {
    display: none;
}

.login h4, .signup h4 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 14px;
    margin-bottom: 10px;
    color: oklch(0.21 0.034 264.665);
}

.login p, .signup p {
    font-size: 16px;
    color: oklch(0.446 0.03 256.802);
    text-align: center;
    margin-bottom: 30px;
    transform: translateY(-5px);
}

#reminder {
    text-align: left;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: oklch(0.551 0.027 264.364);
}

#terms {
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: oklch(0.551 0.027 264.364);
    font-size: 12px;
    font-weight: 400;
}

.toggle {
    width: 395px;
    height: 29px;
    margin: auto;
    display: flex;
    background: oklch(0.967 0.003 264.542);
    padding: 3.5px;
    border-radius: 12px;
    transform: translateY(9px);
}

.toggle button {
    flex: 1;
    padding: 10px 0;
    border: none;
    background: transparent;
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toggle button.active {
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 5px;
    color: oklch(0.373 0.034 259.733);
}

form label:nth-child(3) {
    margin-top: 22px;
}

form input {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    outline-color: rgba(0, 0, 255, 0.532);
    border: 2px solid rgba(128, 128, 128, 0.341);
    border-width: 1px;
    box-sizing: border-box;
    color: rgb(30, 41, 59);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-indent: 8px;
}

.actionbtns {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.help {
    background-color: white;
    margin-top: 27px;
    width: 192px;
    height: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
    color: oklch(0.21 0.034 264.665);
    font-weight: 500;
    border: 2px solid rgba(128, 128, 128, 0.248);
}

.help:hover {
    color: rgb(233, 233, 233);
}

.next, .create {
    background-color: gold;
    margin-top: 27px;
    width: 192px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 48px;
    border-radius: 12px;
    color: oklch(0.21 0.034 264.665);
    border: none;
    box-shadow: 0 3px 5px rgba(255, 217, 0, 0.497);
    margin-left: 10px;
    font-weight: 600;
    background-image: linear-gradient(to right, rgb(255, 227, 67), gold, #f59e0b);
}

.next:hover {
    filter: brightness(0.9);
}

.create:hover {
    filter: brightness(0.9);
}

.signup .help,
.signup .create {
    margin-top: -8px; 
}